<% const { books } = results[0] %> 

<table class="table">
  <thead>
    <tr>
      <th scope="col">No.</th>
      <th scope="col">Nama</th>
      <th scope="col">Email</th>
      <th scope="col">Telpon</th>
    </tr>
  </thead>
  <tbody>
    <% books.forEach((elm, index) => { %>
      <tr>
        <th scope="row"><%= index+1  %> </th>
        <td><%= elm.nama %> </td>
        <td><%= elm.email %> </td>
        <td><%= elm.telepon	 %> </td>
      </tr>
    <% }) %> 
  </tbody>
</table>

<%= //datas[0]["title"]  %> 
<%= //datas[1]["title"]  %> 